<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AcklenAvenue.Data.NHibernate.StructureMap\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.NHibernate.Testing\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.NHibernate\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.Sample.Console\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.Sample.DataLayer\packages.config" />
  <repository path="..\src\AcklenAvenue.Data.Sample.MVC\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.BDD.NUnit\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.ExpectedObjects\packages.config" />
</repositories>