<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AcklenAvenue.Testing.BDD.NUnit\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.ExpectedObjects\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.Moq.ExpectedObjects.Specs\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.Moq.ExpectedObjects\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.Moq.Specs\packages.config" />
  <repository path="..\src\AcklenAvenue.Testing.Moq\packages.config" />
</repositories>