<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="sampleDatabase" connectionString="Data Source=test.sdf"/>
  </connectionStrings>
  <appSettings>
    <add key="current_session_context_class" value="thread_static"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
